/ %!DOCTYPE html
%html
%head
  %title Familyst
  = include_gon
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'application', type: "text/css", href: "http://fonts.googleapis.com/css?family=Tangerine"
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
#main-controller
  - if user_signed_in?
    = link_to t("sign_out"), destroy_user_session_path, method: "delete"
  = yield
